* {
  box-sizing: border-box;
}
body {
  max-width: 768px;
}

.row:after {
  float: clear;
  content: "";
  display: block;
}

[class*='-section'] {
  float: left;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  [class*='-section'] {
    width: 50%;
  }
}
table {
  border: 1px solid black;
  cell-spacing: 0px;
  cell-padding: 0px;
  border-collapse: collapse;
  margin: 5px;
}

th, td {
  padding: 1px;
}
th {
  border: 1px solid black;
}

td {
  border: 1px solid gray;
}
